
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-33 {
  width: 100%;
  height: 500px;
  text-align: center;
}

.card1 {
  background-color: blue ;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
}
.card2 {
  background-color: red;
  width: 100%;
  height: 350px;
  margin: 20px 0;
  padding: 0;
}
.card3 {
  background-color: green ;
}
.card4 {
  background-color: goldenrod;
}
.card5 {
  background-color: salmon;
}

.card6 {
  background-color: #777;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 549px) {
  .box-33 {
    width: 100%;
  }
}

@media screen and (min-width: 550px) {
  .box-33 {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .box-33 {
    width: 350px;
  }
}

@media screen and (min-width: 950px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  }
